*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.parent{
    /* background: #0000004f; */
    height: 500px;
    width: 800px;
}
.content{
    margin: 60px 0 10px 0;
}
.colorBox{
    background-color: rgb(255, 255, 255);
    height: 280px;
    width: 280px;
    margin: 10px auto;
    border: 3px solid rgb(156, 156, 211);
}
p{
    font-size: 25px;
    margin: 12px;
}
.generator{
    padding: 5px;
}
.copyBtn{
    color: #fff;
    background-color: rgb(112, 112, 192);
    padding: 10px 14px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin-top: 5px;
}
.copyBtn:hover{
    background-color: rgb(94, 94, 192);
}