*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
	font-size: 16px;
	background-color: #000;
	width: 100vw;
	height: 100vh;
    color: #fff;
}
.container{
    width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    text-align: center;
}
.input{
    width: 230px;
    height: 40px;
    padding: 10px;
    font-size: 20px;
}
.copy-btn{
    padding: 10px  10px;
    font-weight: bolder;
    font-size: 16px;
}
.change-btn{
   padding: 5px 10px;
   border: 1px solid #fff;
   /* margin-top: 10px; */
   background: none;
   color: #fff;
}
.change-btn:hover{
    background-color: #fff;
    color: #000;
}
.flex{
    margin: 20px 0;
}