*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
	font-size: 16px;
	background-color: #000;
	width: 100vw;
	height: 100vh;
    color: #fff;
}
.container{
    width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    text-align: center;
}
.change-btn{
   padding: 5px 10px;
   border: 1px solid #fff;
   margin-top: 30px;
   background: none;
   color: #fff;
}
.change-btn:hover{
    background-color: #fff;
    color: #000;
}